/*Created by vanelizarov 2016*/

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

#header {
    font-family: Monospace;
    position: absolute;
    color: white;
}

#header a {
    color: red;
}
